
<!doctype html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head"></head>
<body class="d-flex flex-column h-100">

<header>
    <!-- Fixed navbar -->
    <nav th:replace="/fragments/nav :: nav-front" class="navbar navbar-expand-md navbar-dark bg-dark">
    </nav>
</header>

<!-- Begin page content -->
<main class="container">
    <div class="row">
        <div class="col">
        <h1>Spring boot2</h1>
        </div>
    </div>
</main>

<footer th:replace="/fragments/footer"></footer>
</body>
</html>
