
<!doctype html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head"></head>
<body class="d-flex flex-column h-100">

<header>
    <!-- Fixed navbar -->
    <nav th:replace="/fragments/nav :: nav-admin" class="navbar navbar-expand-md navbar-dark bg-dark">
    </nav>
    <link
            rel="stylesheet"
            href="/css/style.css"
    />
</header>

<!-- Begin page content -->
<main class="container">
    <h1 class="display-2" th:text="${edit}? 'Edit ' + ${page.title}:'Edit ' + ${edit}">Add a page</h1>
    <a href="/admin/pages" class="btn btn-primary mb-5">Back to pages</a>

    <div th:if="${message}" th:text="${message}" th:class="${'alert '+ alertClass}"></div>

    <form th:action="${edit}? @{/admin/pages/edit}:@{/admin/pages/add}" method="post" th:object="${page}">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            There are errors
        </div>
        <div class="form-group">
            <label for="">Title</label>
            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'"  th:field="*{title}" placeholder="Title">
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error"></span>
        </div>
        <div class="form-group" th:classappend="${page.slug == 'home'} ? 'd-none'">
            <label for="">Slug</label>
            <input type="text" class="form-control" th:field="*{slug}" placeholder="slug">
        </div>
        <!--th:classappend="${message} ? 'is-invalid'" th:field="*{slug}"-->
        <div class="form-group">
            <label for="">Content</label>
            <textarea th:field="*{content}" class="form-control" th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'" rows="10" placeholder="Content"></textarea>
            <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="error"></span>
        </div>
        <input type="hidden" th:field="*{id}" th:value="${page.id}">
        <input type="hidden" th:field="*{sorting}" th:value="${page.sorting}">

        <button type="submit" class="btn btn-danger mb-5" th:text="${edit}? 'edit':_">add</button>
    </form>



    </form>




</main>

<footer th:replace="/fragments/footer"></footer>
</body>
</html>
