
<!doctype html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head"></head>
<body class="d-flex flex-column h-100">

<header>
    <!-- Fixed navbar -->
    <nav th:replace="/fragments/nav :: nav-admin" class="navbar navbar-expand-md navbar-dark bg-dark">
    </nav>
    <link
            rel="stylesheet"
            href="/css/style.css"
    />
</header>

<!-- Begin page content -->
<main class="container">
    <!-- edit x , pageTitle x = Add a page /edit o , pageTitle o = 수정할때 페이지 이름 지웠다는소리. 원래 페이지 이름 넣어줌
         / edit o , pageTitle x = 아이디로 찾은 페이지객체의 이름 -->
    <h1 class="display-2" th:text="${edit}? (${categoryName}? 'Edit ' + ${categoryName}:'Edit ' + ${category.name}):_">Add a category</h1>
    <a href="/admin/categories" class="btn btn-primary mb-5">Back to categories</a>

    <div th:if="${message}" th:text="${message}" th:class="${'alert '+ alertClass}"></div>

    <form th:action="${edit}? @{/admin/categories/edit}:@{/admin/categories/add}" method="post" th:object="${category}">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            There are errors
        </div>
        <div class="form-group">
            <label for="">Name</label>
            
            <!-- <input type="text" class="form-control" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"  th:field="*{name}" placeholder="Name"> -->
            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"  th:id="name" th:name="name" th:value="${category?.name}" placeholder="Name">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>
        <!-- th:if="${#fields.hasErrors('name')}" 이거 사실 생략 가능. th:errors가 있어서 -->
        </div>
    
        <!-- edit post와 관련. id를 pathvariable로 보내는 대신 form 안에 같이 보냄-->
        <input type="hidden" th:field="*{id}" th:value="${category.id}">
        <input type="hidden" th:field="*{sorting}" th:value="${category.sorting}">

        <button class="btn btn-danger mt-3" th:text="${edit}? 'edit':_">add</button>
    </form>



    </form>




</main>

<footer th:replace="/fragments/footer"></footer>
</body>
</html>
